.profile__button-edit {
    background-color: black;
    background-image: url(../../../images/profile-pencil-button.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    margin-left: 24px;
    align-self: center;
    border: 1px solid white;
    border-radius: 2px;
}

.profile__button-edit:hover {
    background-image: url(../../../images/profile-pencil-button-grey.png);
    border: 1px solid rgba(255, 255, 255, .6);
}

@media screen and (max-width: 405px) {
    .profile__button-edit {
        margin-left: 12px;
    }
}