.popup__container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    width: 400px;
    height: 300px;
    padding: 36px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}