.elements {
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 21px;
    margin: 0 auto;
}

@media screen and (max-width: 890px) {
    .elements {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 770px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 510px) {
    .elements {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20px;
        max-width: calc(100% - 20px);
    }
}