.popup__button-close {
    background-image: url(../../../images/popup-close-button.png);
    background-color: rgba(0, 0, 0, .01);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 0;
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    right: -8%;
    top: -10%;
}

.popup__button-close:hover {
    background-image: url(../../../images/popup-close-button-grey.png);
}

@media screen and (max-width: 575px) {
    .popup__button-close {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 425px) {
    .popup__button-close {
        right: 2%;
        top: -12%;
    }
}