@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 882px;
    margin: 66px auto 60px;
}

@media screen and (max-width: 890px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        margin: 48px auto 36px;
    }
}