.popup__image-container {
    position: relative;
    background-color: transparent;
    padding: 0;
    width: auto;
    height: 75vh;
    margin: 7% auto;
}

@media screen and (max-width: 745px) {
    .popup__image-container {
        margin: 10% auto;
    }
}

@media screen and (max-width: 475px) {
    .popup__image-container {
        margin: 30% auto;
    }
}